/* Estilos da pagina index.html */
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}   

#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}  

#menu li a {
    text-decoration: none;
    color: black;
}    

#menu li a:hover {
    color: blueviolet;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 800px;
    height: 800px;
}

.tm-social {
    width: 30px;
    height: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.justify {
    text-align: justify;
}
/*estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
}
